<?xml version="1.0" encoding="UTF-8" ?>
<ldlib2-ui xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/Low-Drag-MC/LDLib2/refs/heads/1.21/ldlib2-ui.xsd">
    <stylesheet location="ldlib2:lss/gdp.lss"/>
    <style>
        .settings-container {
            width: 100%;
            flex: 1;
            flex-direction: column;
        }
        .settings-tab-view {
            flex-direction: column;
            flex: 1;
            width: 100%;
        }
    </style>

    <root id="settingsContent" class="settings-container">
        <tab-view id="settingsTabView" class="settings-tab-view">
            <tab text="General">
                <tab-content id="generalTab"/>
            </tab>
            <tab text="Editor">
                <tab-content id="editorTab"/>
            </tab>
            <tab text="Projection">
                <tab-content id="projectionTab"/>
            </tab>
            <tab text="Printer">
                <tab-content id="printerTab"/>
            </tab>
        </tab-view>
    </root>
</ldlib2-ui>
